.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/full.png) no-repeat; 
    background-size: cover;
    background-position: 50% 50%;
}

.navbar{

    background: #fff;
    opacity: 0.2;
    border: 0px;
}

.navbar .navbar-header a{
    
    color: #2b2823;
    font-size: 2em;

}

.navbar .navbar-header a:hover {
    color: #dba600;
}
